Arrays and matrix play a key role in data analysis. Knowing both the concepts eases the coding and the data part.

In [5]:
import numpy as np

Let's create a simple list of numbers and then convert it into array

In [9]:
list_of_numbers = [1,2,3]

In [10]:
array_of_numbers = np.array(list_of_numbers)

In [11]:
array_of_numbers

array([1, 2, 3])

Let's try combing two lists

In [12]:
list1 = [1,2,3,4]
list2 = [11,22,33,44]

In [13]:
list = [list1,list2]

In [14]:
list

[[1, 2, 3, 4], [11, 22, 33, 44]]

Create a multidimensional array using the two lists created above

In [15]:
multi_dim_array = np.array(list)

In [16]:
multi_dim_array

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

Shape of the array

In [17]:
multi_dim_array.shape

(2L, 4L)

So the multidimensional array has 2L ie 2 rows and 4L ie 4 columns. The arrays formed from two lists where added in the form of rows.

To get the data type using dtype

In [18]:
multi_dim_array.dtype

dtype('int32')

Special case arrays

In [19]:
np.zeros(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [20]:
np.ones(5)

array([ 1.,  1.,  1.,  1.,  1.])

In [21]:
np.ones([5,3])

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

In [24]:
np.eye(5) #identity matrix

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [25]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [26]:
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])

np.arange(start at 5, end at 50, interval of 2)