In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({'key1':['a']*2 + ['b']*3,
               'key2':[2,2,2,3,3]})

In [3]:
df

  key1  key2
0    a     2
1    a     2
2    b     2
3    b     3
4    b     3

In [4]:
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
df.drop_duplicates()

  key1  key2
0    a     2
2    b     2
3    b     3

In [6]:
df.drop_duplicates(['key1'])

  key1  key2
0    a     2
2    b     2

In [7]:
df

  key1  key2
0    a     2
1    a     2
2    b     2
3    b     3
4    b     3