In [1]:
import pandas as pd

To use excel:
install xlrd ;
install openpyxl

In [3]:
xlsfile = pd.ExcelFile('buritodata .xlsx')

Once the excel file is loaded parse the sheet name

In [5]:
df = xlsfile.parse('buritodata (1)')

In [6]:
df

,store,month,sqft,rent,overhead,empl,laborcost,othercost,orders,avgrev_order,revenue
0,1,1,2710,3426.90,1100,25,7203.51,12519,6169,10.66,68470.54
1,1,2,2710,3426.90,1100,26,6534.12,12938,6200,9.85,63813.00
2,1,3,2710,3426.90,1100,26,5640.78,12812,6200,9.72,62980.00
3,1,4,2710,3426.90,1100,31,9123.81,12881,6351,8.40,56078.40
4,1,5,2710,3426.90,1100,30,9364.10,12597,6321,8.79,58312.59
5,1,6,2710,3426.90,1100,31,8924.29,12452,6351,8.29,55329.79
6,1,7,2710,3426.90,1100,33,10128.89,13001,6412,7.55,51118.60
7,1,8,2710,3426.90,1100,29,9861.04,13055,6291,8.88,58572.08
8,1,9,2710,3426.90,1100,32,7340.39,12636,6382,7.83,52674.06
9,1,10,2710,3426.90,1100,33,9352.21,12714,6412,7.05,47938.60
10,1,11,2710,3426.90,1100,31,8611.54,12319,6352,7.48,50256.96
11,1,12,2710,3426.90,1100,31,10478.89,12760,6353,6.98,47045.94
12,2,1,2570,3155.52,1100,28,10519.53,12345,5980,9.65,60275.00
13,2,2,2570,3155.52,1100,27,9748.23,12684,5949,10.58,65539.42
14,2,3,2570,3155.52,1100,29,13259.88,12536,6010,9.93,62249.30
15,2,4,2570,3155.52,1100,32,10546.68,12444,6101,8.77,56031.77
16,2,5,2570,3155.52,1100,31,12318.95,12499,6070,9.36,59389.20
17,2,6,2570,3155.52,1100,31,13797.60,12537,6070,9.31,59064.70
18,2,7,2570,3155.52,1100,30,9257.66,12474,6040,9.74,61378.60
19,2,8,2570,3155.52,1100,30,10934.86,12327,6040,9.03,57092.20
20,2,9,2570,3155.52,1100,33,10691.48,12649,6131,8.20,52799.20
21,2,10,2570,3155.52,1100,31,10384.04,12667,6071,8.76,55743.96
22,2,11,2570,3155.52,1100,30,9453.69,12616,6041,8.82,55894.62
23,2,12,2570,3155.52,1100,31,11172.32,12592,6071,8.26,52725.46
24,3,1,2030,2433.38,900,20,11195.11,11896,4660,9.87,48051.20
25,3,2,2030,2433.38,900,20,9232.28,11885,4660,9.95,48373.00
26,3,3,2030,2433.38,900,20,8405.84,12241,4659,10.37,50294.83
27,3,4,2030,2433.38,900,20,6153.77,12190,4660,9.83,47842.80
28,3,5,2030,2433.38,900,22,11205.15,12246,4720,9.63,47475.60
29,3,6,2030,2433.38,900,22,7480.49,12037,4719,10.47,51384.93
...,...,...,...,...,...,...,...,...,...,...,...
342,29,7,3430,4052.72,1500,41,16246.65,13558,8091,8.23,70034.93
343,29,8,3430,4052.72,1500,36,14118.07,13562,7940,9.19,76387.59
344,29,9,3430,4052.72,1500,39,19175.62,13343,8031,8.10,68459.10
345,29,10,3430,4052.72,1500,37,18146.08,13572,7971,8.87,74079.77
346,29,11,3430,4052.72,1500,38,11702.12,13290,8001,8.56,71942.56
347,29,12,3430,4052.72,1500,36,15063.12,13273,7941,8.74,72826.34
348,30,1,3200,3606.10,1300,26,6729.67,12768,7180,9.62,72220.60
349,30,2,3200,3606.10,1300,28,8819.84,12795,7240,9.05,68717.00
350,30,3,3200,3606.10,1300,29,9205.70,12951,7271,8.90,67918.90
351,30,4,3200,3606.10,1300,26,5694.04,12934,7179,10.36,77543.44
352,30,5,3200,3606.10,1300,27,9375.59,13149,7209,10.38,77978.42
353,30,6,3200,3606.10,1300,29,9355.49,13251,7270,9.31,70878.70
354,30,7,3200,3606.10,1300,26,9063.21,13108,7180,9.98,74900.40
355,30,8,3200,3606.10,1300,27,8148.24,13113,7210,9.49,71603.90
356,30,9,3200,3606.10,1300,26,8813.01,13228,7179,10.54,78881.66
357,30,10,3200,3606.10,1300,27,6055.18,13317,7210,9.49,71635.90
358,30,11,3200,3606.10,1300,27,8272.89,13320,7210,9.25,69884.50
359,30,12,3200,3606.10,1300,26,8108.42,13050,7180,9.41,70747.80
360,31,1,2900,3639.38,1100,19,5918.74,12864,6370,9.13,61022.10
361,31,2,2900,3639.38,1100,20,4313.16,13087,6400,9.45,63393.00
362,31,3,2900,3639.38,1100,19,4995.65,13005,6370,9.38,62634.60
363,31,4,2900,3639.38,1100,20,5645.48,13348,6400,9.24,62031.00
364,31,5,2900,3639.38,1100,21,5285.90,12917,6430,9.19,62006.70
365,31,6,2900,3639.38,1100,20,6674.87,13045,6400,9.88,66115.00
366,31,7,2900,3639.38,1100,22,5762.64,12783,6461,8.73,59324.53
367,31,8,2900,3639.38,1100,23,4957.55,13080,6491,8.60,58719.60
368,31,9,2900,3639.38,1100,20,5078.49,12937,6400,9.18,61683.00
369,31,10,2900,3639.38,1100,22,6104.95,12973,6461,8.02,54708.22
370,31,11,2900,3639.38,1100,22,4440.65,12953,6461,8.35,56851.35
371,31,12,2900,3639.38,1100,19,4025.17,12816,6371,8.98,60106.58

In [7]:
df.head()

,store,month,sqft,rent,overhead,empl,laborcost,othercost,orders,avgrev_order,revenue
0,1,1,2710,3426.9,1100,25,7203.51,12519,6169,10.66,68470.54
1,1,2,2710,3426.9,1100,26,6534.12,12938,6200,9.85,63813.00
2,1,3,2710,3426.9,1100,26,5640.78,12812,6200,9.72,62980.00
3,1,4,2710,3426.9,1100,31,9123.81,12881,6351,8.40,56078.40
4,1,5,2710,3426.9,1100,30,9364.10,12597,6321,8.79,58312.59

In [8]:
df.describe()

,store,month,sqft,rent,overhead,empl,laborcost,othercost,orders,avgrev_order,revenue
count,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000
mean,16.000000,6.500000,2686.774194,3285.792258,1087.096774,28.137097,10192.653172,12699.465054,6218.083333,9.081989,59133.597312
std,8.956318,3.456702,379.740758,482.210662,168.216140,5.037864,4031.041232,418.856409,838.116134,0.913476,9774.634434
min,1.000000,1.000000,2030.000000,2279.180000,900.000000,17.000000,3646.460000,11754.000000,4629.000000,6.530000,37843.800000
25%,8.000000,3.750000,2350.000000,2839.070000,900.000000,24.750000,6853.557500,12386.250000,5570.750000,8.487500,51680.525000
50%,16.000000,6.500000,2690.000000,3373.160000,1100.000000,28.000000,9559.670000,12694.500000,6200.000000,9.190000,57874.900000
75%,24.000000,9.250000,2970.000000,3663.620000,1100.000000,31.250000,12697.080000,13003.500000,6831.500000,9.770000,66287.207500
max,31.000000,12.000000,3430.000000,4052.720000,1500.000000,41.000000,23259.960000,13724.000000,8091.000000,11.090000,85316.590000