In [9]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame,read_csv
from numpy.random import randn

In [14]:
pwd

u'C:\\Users\\RAKESH'

In [15]:
df = pd.read_csv('mytextdata_out.csv')

In [16]:
df

   Unnamed: 0  0  1  2  3       4
0           0  q  r  s  t   apple
1           1  2  3  4  5    pear
2           2  a  s  d  f  rabbit
3           3  5  2  5  7     dog

In [17]:
df = pd.read_csv('mytextdata_out.csv',header = None)

In [18]:
df

     0  1  2  3  4       5
0  NaN  0  1  2  3       4
1  0.0  q  r  s  t   apple
2  1.0  2  3  4  5    pear
3  2.0  a  s  d  f  rabbit
4  3.0  5  2  5  7     dog

In [19]:
df = pd.read_table('mytextdata_out.csv',sep=',',header=None)

In [20]:
df

     0  1  2  3  4       5
0  NaN  0  1  2  3       4
1  0.0  q  r  s  t   apple
2  1.0  2  3  4  5    pear
3  2.0  a  s  d  f  rabbit
4  3.0  5  2  5  7     dog

In [21]:
df.to_csv('myyy.csv')

In [22]:
pwd

u'C:\\Users\\RAKESH'

sys to show output here itself instead of saving it as csv file

In [23]:
import sys

In [24]:
df.to_csv(sys.stdout)

,0,1,2,3,4,5
0,,0,1,2,3,4
1,0.0,q,r,s,t,apple
2,1.0,2,3,4,5,pear
3,2.0,a,s,d,f,rabbit
4,3.0,5,2,5,7,dog

In [25]:
df.to_csv(sys.stdout,sep='w')

w0w1w2w3w4w5
0ww0w1w2w3w4
1w0.0wqwrwswtwapple
2w1.0w2w3w4w5wpear
3w2.0wawswdwfwrabbit
4w3.0w5w2w5w7wdog

In [26]:
df.to_csv(sys.stdout,columns=[0,1])

,0,1
0,,0
1,0.0,q
2,1.0,2
3,2.0,a
4,3.0,5