In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3],index=['a','b','c'])

In [4]:
ser1

a    1
b    2
c    3
dtype: int64

In [5]:
ser2 = ser1.reindex(['a','b','c','d','e'])

In [6]:
ser2

a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
dtype: float64

In [7]:
ser2.reindex(['a','b','c','d','e','f'],fill_value=0)

a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
f    0.0
dtype: float64

In [8]:
ser3 = Series(['usa','mexico','cannada'],index=[0,3,6])

In [9]:
ser3

0        usa
3     mexico
6    cannada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

ffill is forward fill which will fill with the previous value unless it hits a new value

In [12]:
ser3.reindex(ranger,method='ffill')

0         usa
1         usa
2         usa
3      mexico
4      mexico
5      mexico
6     cannada
7     cannada
8     cannada
9     cannada
10    cannada
11    cannada
12    cannada
13    cannada
14    cannada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['a','b','c','d','e'],columns=['c1','c2','c3','c4','c5'])

In [15]:
dframe

         c1        c2        c3        c4        c5
a -0.067915 -0.203823 -0.352695  0.959359 -0.104153
b  0.925898 -0.767234  1.531704 -0.448204 -0.737073
c  0.614125 -1.332035 -1.129471  1.653233  2.124391
d  0.294693 -0.439389  0.857416  0.299372 -1.805176
e  1.379852  0.313320 -0.693630  1.424198  1.086086

In [16]:
df2= dframe.reindex(['a','b','c','d','e','f'])

In [17]:
df2

         c1        c2        c3        c4        c5
a -0.067915 -0.203823 -0.352695  0.959359 -0.104153
b  0.925898 -0.767234  1.531704 -0.448204 -0.737073
c  0.614125 -1.332035 -1.129471  1.653233  2.124391
d  0.294693 -0.439389  0.857416  0.299372 -1.805176
e  1.379852  0.313320 -0.693630  1.424198  1.086086
f       NaN       NaN       NaN       NaN       NaN

In [33]:
dframe.ix[['a','b','c','d','e','f']]

         c1        c2        c3        c4        c5
a -0.067915 -0.203823 -0.352695  0.959359 -0.104153
b  0.925898 -0.767234  1.531704 -0.448204 -0.737073
c  0.614125 -1.332035 -1.129471  1.653233  2.124391
d  0.294693 -0.439389  0.857416  0.299372 -1.805176
e  1.379852  0.313320 -0.693630  1.424198  1.086086
f       NaN       NaN       NaN       NaN       NaN