In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame(np.arange(12).reshape(3,4),
              index = ['a','b','c'],
              columns=['x','y','z','s'])

In [3]:
df

   x  y   z   s
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [4]:
df.index.map(str.lower)

Index([u'a', u'b', u'c'], dtype='object')

In [5]:
df.index = df.index.map(str.lower)

In [6]:
df

   x  y   z   s
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [7]:
df.rename(index=str.title,columns=str.lower)

   x  y   z   s
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

In [8]:
df.rename(index={'a':'ny'})

    x  y   z   s
ny  0  1   2   3
b   4  5   6   7
c   8  9  10  11