In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df1 = DataFrame(np.arange(8).reshape(2,4),
               index=pd.Index(['la','sf'],name='city'),
               columns = pd.Index(['a','b','c','d'],name='letter'))

In [3]:
df1

letter  a  b  c  d
city
la      0  1  2  3
sf      4  5  6  7

In [4]:
df_s = df1.stack()
df_s

city  letter
la    a         0
      b         1
      c         2
      d         3
sf    a         4
      b         5
      c         6
      d         7
dtype: int32

In [5]:
df_s.unstack()

letter  a  b  c  d
city
la      0  1  2  3
sf      4  5  6  7

In [6]:
df_s.unstack('city')

city    la  sf
letter
a        0   4
b        1   5
c        2   6
d        3   7

In [7]:
ser1 = Series([0,1,2],index=['a','b','c'])

In [8]:
ser2= Series([4,5,6],index= ['x','y','z'])

In [9]:
df3 = pd.concat([ser1,ser2],keys=['alpha','beta'])

In [10]:
df3

alpha  a    0
       b    1
       c    2
beta   x    4
       y    5
       z    6
dtype: int64

In [11]:
df3.unstack()

         a    b    c    x    y    z
alpha  0.0  1.0  2.0  NaN  NaN  NaN
beta   NaN  NaN  NaN  4.0  5.0  6.0

In [12]:
df3.unstack().stack()

alpha  a    0.0
       b    1.0
       c    2.0
beta   x    4.0
       y    5.0
       z    6.0
dtype: float64