In [4]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [5]:
ser1 = Series(np.arange(3),index=['a','b','c'])

In [6]:
ser1 = 2*ser1

In [7]:
ser1

a    0
b    2
c    4
dtype: int32

In [9]:
ser1['b']

2

In [10]:
ser1[1]

2

In [11]:
ser1[0:2]

a    0
b    2
dtype: int32

In [12]:
ser1[['a','b']]

a    0
b    2
dtype: int32

In [13]:
ser1[ser1>3]

c    4
dtype: int32

In [14]:
ser1[ser1>3]= 10

In [15]:
ser1

a     0
b     2
c    10
dtype: int32

In [16]:
df = DataFrame(np.arange(25).reshape((5,5)), index=['abc','bcd','cde','def','efg'],columns=['a','b','c','d','e'])

In [17]:
df

      a   b   c   d   e
abc   0   1   2   3   4
bcd   5   6   7   8   9
cde  10  11  12  13  14
def  15  16  17  18  19
efg  20  21  22  23  24

In [18]:
df['b']

abc     1
bcd     6
cde    11
def    16
efg    21
Name: b, dtype: int32

In [22]:
df[['c','d']]

      c   d
abc   2   3
bcd   7   8
cde  12  13
def  17  18
efg  22  23

In [23]:
df[df['c']>5]

      a   b   c   d   e
bcd   5   6   7   8   9
cde  10  11  12  13  14
def  15  16  17  18  19
efg  20  21  22  23  24

In [24]:
df < 10

         a      b      c      d      e
abc   True   True   True   True   True
bcd   True   True   True   True   True
cde  False  False  False  False  False
def  False  False  False  False  False
efg  False  False  False  False  False

In [25]:
df.ix['bcd']

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

a    5
b    6
c    7
d    8
e    9
Name: bcd, dtype: int32